@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../assets/bg-texture.png");
    background-color: #1f1f38;
}

html{
    scroll-behavior: smooth;
}

.span1{
    color: green;
}

::-webkit-scrollbar{
    display: none;
}

img{
    /* position: absolute; */
    height: 100vh;
    
}

.main{
    position: relative;
    height: 100vh;
}

.header{
    font-family: 'Montserrat', sans-serif;;
    padding: 2rem;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    font-size: 2rem;
    
}

.header p{
    margin-left: 5rem;
}
.para{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    max-width: 27rem;
}
.btn_align{
    align-items: center;
}
.btn1{
    background-color: #436b95;
    color: white;
    padding: 1rem;
    text-align: center;
    /* display: inline-block; */
}

.btn2{
    background-color: transparent;
    border: 1px solid bisque;
    padding: 0.9rem;
    color: bisque;
}

.nav1{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    transform: translateX(-50%) ;
    left: 50%;
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    z-index: 2;
    position: fixed;
}

.nav1 a{
    background: transparent;
    display: flex;
    padding: 0.9rem;
    border-radius:20% ;
    color: rgba(255,255,255,0.6);
    font-size: 1.1rem;
}

a:hover{
    background: #2c2c6c;
}

.nav1 a.active{
    color: #1f1f38;
    background: #4db5ff;
}

.content{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.btn_align a{
    background-color: transparent;
    border: 1px solid bisque;
    padding: 0.7rem;
    color: bisque;
}
.form_area{
    background: #161717;
    color:  white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.image_area{
    background: #436b95;
}

.form_area h1{
    margin-left: 4rem;
    max-width: 20rem;
    /* text-align: center; */
}

.input_container{
    margin-left: 4rem;
}
.input_container p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
input,select{
    color: grey;
    width: 35%;
    margin-bottom: 2rem;
    background: rgb(52, 50, 50);
    border: 2px solid grey;
    padding: 1rem;
    border-radius:2rem;
}

label{
    font-size: 1rem;
}

.contact{
    height: 110vh;
    background:#161717;
}

.contact_para{
    text-align: center;
}
.contact_para h1{
    color:beige;
    font-size: 5rem;
}
.contact_para p{
    color: beige;
    font-size: 1rem;
}

.contact_form{
    text-align: center;
    /* max-width: 50%; */
}
.contact_form p{
    color:beige;
    font-size: 1.7rem;
}
.contact_form input{
    color: grey;
    width: 15%;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    background: rgb(52, 50, 50);
    border: 2px solid grey;
    padding: 1rem;
}

textarea{
    padding: 10px;
    resize: none;
    background: rgb(52, 50, 50);
    color: grey;
    border: 2px solid grey;
}

footer{
    background:#161717;
    text-align: center;
    color: beige;
}